/* ===== Global Styles ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
    color: #fff;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #4361ee;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #3a56d4;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

section {
    padding: 80px 0;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

/* ===== Navbar Section ===== */
.navbar {
    background-image: url('/Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    color: #4E47FF;
    text-decoration: none;
}

/* ===== Banner Section ===== */
.banner {
    background-image: url('/Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    text-align: center;
}


.banner-content {
    width: 100%;
}


.banner h1 {
    font-size: 65px;
    color: #252432;
    margin-bottom: 30px;
}

/* ===== Action Section ===== */
.action {
    background-color: #f8f9fa;
    color: #333;
}

.action .container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.action-content {
    flex: 1;
}

.action-image {
    flex: 1;
    text-align: center;
}

.action-image img {
    max-width: 100%;
    border-radius: 45px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.action h2 {
    font-size: 40px;
    color: #252432;
}

.action p {
    margin-bottom: 25px;
    color: #252432;
}

/* Productive Users Section */
.productive-users {
    background-color: #ffffff;
    text-align: center;
    padding: 140px 0;
}
.box{
    max-width: 1140px;
    height: 300px;
    background-color: #E6EDF9; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 140px;
    border-radius: 25px;
}

.productive-users h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #252432;
}

.stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.stat-item {
    flex: 1;
    min-width: 200px;
    padding: 0px;
}

.stat-item h3 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #4E47FF;
}

.stat-item p {
    font-size: 20px;
    color: #72737F;
}
